*, *::after, *::before{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
body, html{
  width: 100%;
  min-height: 100vh;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

::selection {
  color: white;
  background: black;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #64da91;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #212121;
}

a{
  text-decoration: none;
  color: inherit;
}
